
.vs/JsonTool/v17/.suo
JsonCSharpClassGeneratorLib/bin/Debug/Newtonsoft.Json.dll
JsonCSharpClassGeneratorLib/bin/Debug/Xamasoft.JsonClassGenerator.dll
JsonCSharpClassGeneratorLib/bin/Debug/Xamasoft.JsonClassGenerator.pdb
JsonCSharpClassGeneratorLib/JsonClassGeneratorLib.csproj
JsonCSharpClassGeneratorLib/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
JsonCSharpClassGeneratorLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JsonCSharpClassGeneratorLib/obj/Debug/JsonClassGeneratorLib.csproj.AssemblyReference.cache
JsonCSharpClassGeneratorLib/obj/Debug/JsonClassGeneratorLib.csproj.CopyComplete
JsonCSharpClassGeneratorLib/obj/Debug/JsonClassGeneratorLib.csproj.CoreCompileInputs.cache
JsonCSharpClassGeneratorLib/obj/Debug/JsonClassGeneratorLib.csproj.FileListAbsolute.txt
JsonCSharpClassGeneratorLib/obj/Debug/JsonClassGeneratorLib.csproj.GenerateResource.cache
JsonCSharpClassGeneratorLib/obj/Debug/Xamasoft.JsonClassGenerator.dll
JsonCSharpClassGeneratorLib/obj/Debug/Xamasoft.JsonClassGenerator.pdb
JsonCSharpClassGeneratorLib/obj/Debug/Xamasoft.JsonClassGenerator.Properties.Resources.resources
JsonTool/bin/Debug/net5.0-windows/ICSharpCode.AvalonEdit.dll
JsonTool/bin/Debug/net5.0-windows/JsonTool.deps.json
JsonTool/bin/Debug/net5.0-windows/JsonTool.dll
JsonTool/bin/Debug/net5.0-windows/JsonTool.exe
JsonTool/bin/Debug/net5.0-windows/JsonTool.pdb
JsonTool/bin/Debug/net5.0-windows/JsonTool.runtimeconfig.dev.json
JsonTool/bin/Debug/net5.0-windows/JsonTool.runtimeconfig.json
JsonTool/bin/Debug/net5.0-windows/Microsoft.Xaml.Behaviors.dll
JsonTool/bin/Debug/net5.0-windows/Newtonsoft.Json.dll
JsonTool/bin/Debug/net5.0-windows/Xamasoft.JsonClassGenerator.dll
JsonTool/bin/Debug/net5.0-windows/Xamasoft.JsonClassGenerator.pdb
JsonTool/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
JsonTool/obj/Debug/net5.0-windows/App.baml
JsonTool/obj/Debug/net5.0-windows/App.g.cs
JsonTool/obj/Debug/net5.0-windows/App.g.i.cs
JsonTool/obj/Debug/net5.0-windows/apphost.exe
JsonTool/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.cs
JsonTool/obj/Debug/net5.0-windows/GeneratedInternalTypeHelper.g.i.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool.AssemblyInfo.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool.AssemblyInfoInputs.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool.assets.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool.csproj.AssemblyReference.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool.csproj.BuildWithSkipAnalyzers
JsonTool/obj/Debug/net5.0-windows/JsonTool.csproj.CopyComplete
JsonTool/obj/Debug/net5.0-windows/JsonTool.csproj.CoreCompileInputs.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool.csproj.FileListAbsolute.txt
JsonTool/obj/Debug/net5.0-windows/JsonTool.dll
JsonTool/obj/Debug/net5.0-windows/JsonTool.g.resources
JsonTool/obj/Debug/net5.0-windows/JsonTool.GeneratedMSBuildEditorConfig.editorconfig
JsonTool/obj/Debug/net5.0-windows/JsonTool.genruntimeconfig.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool.pdb
JsonTool/obj/Debug/net5.0-windows/JsonTool_b5qetnvv_wpftmp.AssemblyInfo.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool_b5qetnvv_wpftmp.AssemblyInfoInputs.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_b5qetnvv_wpftmp.assets.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_b5qetnvv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
JsonTool/obj/Debug/net5.0-windows/JsonTool_Content.g.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool_Content.g.i.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool_MarkupCompile.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_MarkupCompile.i.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_MarkupCompile.i.lref
JsonTool/obj/Debug/net5.0-windows/JsonTool_MarkupCompile.lref
JsonTool/obj/Debug/net5.0-windows/JsonTool_nhgmx5m2_wpftmp.AssemblyInfo.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool_nhgmx5m2_wpftmp.AssemblyInfoInputs.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_nhgmx5m2_wpftmp.assets.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_nhgmx5m2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
JsonTool/obj/Debug/net5.0-windows/JsonTool_qm4zafbh_wpftmp.AssemblyInfo.cs
JsonTool/obj/Debug/net5.0-windows/JsonTool_qm4zafbh_wpftmp.AssemblyInfoInputs.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_qm4zafbh_wpftmp.assets.cache
JsonTool/obj/Debug/net5.0-windows/JsonTool_qm4zafbh_wpftmp.csproj.BuildWithSkipAnalyzers
JsonTool/obj/Debug/net5.0-windows/JsonTool_qm4zafbh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
JsonTool/obj/Debug/net5.0-windows/MainWindow.baml
JsonTool/obj/Debug/net5.0-windows/MainWindow.g.cs
JsonTool/obj/Debug/net5.0-windows/MainWindow.g.i.cs
JsonTool/obj/Debug/net5.0-windows/ref/JsonTool.dll
JsonTool/obj/Debug/net5.0-windows/refint/JsonTool.dll
JsonTool/obj/Debug/net5.0-windows/Themes/Buttons.baml
JsonTool/obj/Debug/net5.0-windows/Themes/Paths.baml
JsonTool/obj/Debug/net5.0-windows/Themes/TreeView.baml
JsonTool/obj/Debug/net5.0-windows/Views/ChangeValueWin.baml
JsonTool/obj/Debug/net5.0-windows/Views/ChangeValueWin.g.cs
JsonTool/obj/Debug/net5.0-windows/Views/ChangeValueWin.g.i.cs
JsonTool/obj/Debug/net5.0-windows/Views/JsonView.baml
JsonTool/obj/Debug/net5.0-windows/Views/JsonView.g.cs
JsonTool/obj/Debug/net5.0-windows/Views/JsonView.g.i.cs
JsonTool/obj/JsonTool.csproj.nuget.dgspec.json
JsonTool/obj/JsonTool.csproj.nuget.g.props
JsonTool/obj/JsonTool.csproj.nuget.g.targets
JsonTool/obj/JsonTool_b5qetnvv_wpftmp.csproj.nuget.dgspec.json
JsonTool/obj/JsonTool_b5qetnvv_wpftmp.csproj.nuget.g.props
JsonTool/obj/JsonTool_b5qetnvv_wpftmp.csproj.nuget.g.targets
JsonTool/obj/JsonTool_nhgmx5m2_wpftmp.csproj.nuget.dgspec.json
JsonTool/obj/JsonTool_nhgmx5m2_wpftmp.csproj.nuget.g.props
JsonTool/obj/JsonTool_nhgmx5m2_wpftmp.csproj.nuget.g.targets
JsonTool/obj/project.assets.json
JsonTool/obj/project.nuget.cache
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
